*{
    margin: 0;
    padding: 0;
}

.container{
    margin-left: 30%;
    width: 700px;
    height: 450px;
    margin-top: 11%;
    border: gray 4px solid;
    background-color: rgb(162, 175, 169);
}

.logo img{
    margin-left: 43.5%;
    margin-top: 8px;
    margin-bottom: 10px;
}

h1{
    text-align: center;
    color: rgb(5, 80, 5);
}

p{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    margin-bottom: 20px;
}

.product1{
    margin-left: 200px;
    padding: 10px;
}
